img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}

textarea {
    font-size: 1rem;
    height: 5rem;
    width: 100%;
}

.description-state {
    font-style: italic;
}

.photo-category {
    font-variant: all-small-caps;
}
