.photos {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.photo {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    margin: 0 1rem;
}
